/CloudComPy310/
/example_data/chereef_video/
/docs/build/html/.buildinfo
/.idea/.gitignore
/docs/build/html/_static/_sphinx_javascript_frameworks_compat.js
/docs/build/html/_images/anaconda_install.png
/docs/build/html/_images/annotations_conversion.png
/docs/build/html/_static/css/badge_only.css
/docs/build/html/_static/js/badge_only.js
/docs/build/html/_static/basic.css
/.idea/CHUBACAPP.iml
/docs/build/html/_images/conf_file.png
/docs/build/html/_static/doctools.js
/docs/build/html/_static/documentation_options.js
/docs/build/doctrees/environment.pickle
/docs/build/html/_static/file.png
/docs/build/html/_static/css/fonts/fontawesome-webfont.eot
/docs/build/html/_static/css/fonts/fontawesome-webfont.svg
/docs/build/html/_static/css/fonts/fontawesome-webfont.ttf
/docs/build/html/_static/css/fonts/fontawesome-webfont.woff
/docs/build/html/_static/css/fonts/fontawesome-webfont.woff2
/docs/build/html/genindex.html
/docs/build/html/_static/js/html5shiv.min.js
/docs/build/html/_static/js/html5shiv-printshiv.min.js
/docs/build/doctrees/index.doctree
/docs/build/html/index.html
/docs/build/html/_sources/index.rst.txt
/docs/build/doctrees/installation.doctree
/docs/build/html/installation.html
/docs/build/html/_sources/installation.rst.txt
/docs/build/html/_static/jquery.js
/docs/build/html/_static/jquery-3.6.0.js
/docs/build/html/_static/language_data.js
/docs/build/html/_static/css/fonts/lato-bold.woff
/docs/build/html/_static/css/fonts/lato-bold.woff2
/docs/build/html/_static/css/fonts/lato-bold-italic.woff
/docs/build/html/_static/css/fonts/lato-bold-italic.woff2
/docs/build/html/_static/css/fonts/lato-normal.woff
/docs/build/html/_static/css/fonts/lato-normal.woff2
/docs/build/html/_static/css/fonts/lato-normal-italic.woff
/docs/build/html/_static/css/fonts/lato-normal-italic.woff2
/docs/build/html/_static/minus.png
/.idea/misc.xml
/docs/build/doctrees/modules.doctree
/docs/build/html/modules.html
/docs/build/html/_sources/modules.rst.txt
/.idea/modules.xml
/docs/build/html/objects.inv
/.idea/other.xml
/docs/build/doctrees/pipeline.doctree
/docs/build/html/pipeline.html
/docs/build/html/_sources/pipeline.rst.txt
/docs/build/html/_images/plot3d.png
/docs/build/html/_static/plus.png
/example_data/pl03_chubacapp/point_output.json
/example_data/pl03_chubacapp/poly_output.json
/docs/build/html/_images/preprocessing.png
/.idea/inspectionProfiles/profiles_settings.xml
/docs/build/html/_static/pygments.css
/docs/build/html/_images/remove_blur.png
/docs/build/html/_static/css/fonts/Roboto-Slab-Bold.woff
/docs/build/html/_static/css/fonts/Roboto-Slab-Bold.woff2
/docs/build/html/_static/css/fonts/Roboto-Slab-Regular.woff
/docs/build/html/_static/css/fonts/Roboto-Slab-Regular.woff2
/docs/build/html/search.html
/docs/build/html/searchindex.js
/docs/build/html/_static/searchtools.js
/docs/build/html/_static/sphinx_highlight.js
/docs/build/html/_static/css/theme.css
/docs/build/html/_static/js/theme.js
/docs/build/html/_static/underscore.js
/docs/build/html/_static/underscore-1.13.1.js
/docs/build/doctrees/usage.doctree
/docs/build/html/usage.html
/docs/build/html/_sources/usage.rst.txt
/.idea/vcs.xml
